@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
   Author: Maria De Jesus Rizo
   Date:   12.12.18

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
/* Styles within this sections will affect screens with a screen with of 0px up to 640px */
@media only screen and (max-width: 640px) {

    /* Styles within this selector will affect the table, tbody, tr, td, th, and caption elements. The display property states that these elemenst will have the display properties of a block element */
    table,
    tbody,
    tr,
    td,
    th,
    caption {
        display: block;
    }

    /* Styles within this selector will affect the thead and h1 elements. The sisplay property states that these element will not be displayed on the page. */
    thead,
    h1 {
        display: none;
    }

    /* The selector below states that the caption which is nested within the table element will have text that is white, a background color of the value specified, text that is 1.5 em in size, and a line height of 2em. */
    table caption {
        color: white;
        background: rgb(70, 68, 68);
        font-size: 1.5em;
        line-height: 2em;
    }

    /* The selector below states that the td element will have the styles listed applied to it. The border property adds a border around the element of the specified values. The position property gives the element a relative position on the page. The padding left property adds a padding of 40% on the left of the element. The min height element states that the element will have a minimum height of 40px. */
    td {
        border: 1px dotted grey;
        color: rgb(11, 12, 145);
        position: relative;
        padding-left: 45%;
        min-height: 40px;
    }

    /* The selector states that the  */
    tr:nth-of-type(odd) {
        background-color: rgb(255, 235, 178);
        border: 2px solid grey;
    }

    td::before {
        content: attr(data-date);
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        padding: 5px;
    }

}



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
    table {
        background: url(lht_photo1.png) bottom right/40% no-repeat;
        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin: 20px auto;
        table-layout: fixed;
        width: 85%;
    }

    th,
    td {
        border: 1px solid grey;
        font-size: 0.85em;
        font-weight: normal;
        padding: 5px;
        vertical-align: top;
        width: 14.28%;
        word-wrap: break-word;
    }

    td {
        background-color: rgba(171, 171, 171, 0.6);
        color: rgb(11, 12, 145);
    }

    td[data-date*="Feb"] {
        background-color: rgba(232, 214, 148, 0.6);
        box-shadow: inset grey 0px 0px 20px;
    }

    table caption {
        vertical-align: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        letter-spacing: 3px;
    }

    thead th {
        background-color: rgb(154, 64, 3);
        color: white;
    }
}